<div class="_container">
  <ngx-datatable class="material" [rows]='rows' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
    [scrollbarV]="true" [scrollbarH]="true" [rowHeight]="'auto'" [reorderable]="reorderable" *ngIf="isAnalyticsLoaded">
    <ngx-datatable-column name={{header}} prop={{header}} width="130" *ngFor="let header of headers">
    </ngx-datatable-column>
  </ngx-datatable>

  <div class="loading-shade" *ngIf="isAnalyticsLoading">
    <h3>This may take a while</h3>
  </div>
</div>