.feather,
.data-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.button-container {
  flex: 1;
}

.filter-host-container {
  width: 100%;
  margin-top: 0.125em;
  z-index: 50;
  padding: 0.25em;
  border-radius: 0.2em;
  border: 1px solid #6c757d;
}

span.selected-item {
  background: inherit;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  margin-right: 2px;
  cursor: text;
  font-size: 11px;
}
