.feather,
.data-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.button-container {
  flex: 1;
}

.filter-host-container {
  width: 100%;
  margin-top: 0.125em;
  padding: 0.25em;
  border-radius: 0.2em;
  border: 1px solid #6c757d;
}
